.vote-page__null-state {
  background-color: #ddd;
  box-shadow: 2px 2px 2px #000;
  color: #555;
  text-align: center;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
}

.vote-page-wrapper {
  background-color: #FFF;
  box-shadow: 2px 2px 2px #000;
  text-align: center;
  max-width: 400px;
  margin: 20px auto;
}

.vote-page__error {
  padding: 5px;
  background-color: #E53935;
  color: white;
  border: 1px solid #888;
}

.vote-page__proposal {
  display: inline-block;
  padding: 25px;
  font-size: 24px;
}

.vote-page__votes {
  color: #888;
  margin-bottom: 10px;
}

.vote-page__btn-wrapper {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.vote-page__btn {
  margin: 20px 10px;
}
